<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Grank.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>12305A1C1DD6EBDA00F92EDE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>12305A301DD6EBDB00F92EDE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>12305A3B1DD6EBDB00F92EDE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
